#root{
 height: 100%;
}

body {
    height: 100%;
}

.App {
    background-image: url("./assets/nadine-shaabana-1135853-unsplash.jpg"); 
    min-height: 100vh;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 100px 200px 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    align-items: stretch;

}

.App-navigation {
    padding: 10px;
    color: white;
}

.App-sidebar {
    background: rgba(255, 255, 255, 0.9);
    display: relative;
    padding: 10px;
}

.App-sidebar img {
    max-width: 100%;
}

.App-navigation h1 {
    font-size: 48pt;
}

.App-navigation p {
    text-align: left;
    font-size: 20pt;
}

.App-title {
letter-spacing: 0.1em; 
    font-family: 'Permanent Marker', cursive;
}

.App-navigation {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: yellow;
}

.App-navigation a {
    font-size: 14pt;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}

.App-tag {
    grid-column: 2;
    color: yellow;
    font-family: 'Raleway', sans-serif;
    font-size: 17pt;
    margin: 0;
}

.App-mainContent {
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-column: 2;
    grid-row:3;
    height: 1000px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px 15px 0 0;
    
    
}

#map {
    border: 3px solid #442911;
    border-radius: 15px;
     box-shadow: 0 15px 10px 10px #685d53;
     margin: 25px;
     max-height: 900px;
     height: 100%;
}

.List {
    margin: 25px;
    font-family: 'Raleway', sans-serif;

}

.List-input h4 {
    text-align: center;
}

.List-input {
    padding: 5px;
}


.List-input p {
    margin: 0;
}

.List-input button {
display: block;
    margin: auto;
}

.List-child {
    border-radius: 15px;
    box-shadow: 0 15px 10px 5px #685d53;
    background: white;
        min-height: 200px;
        margin: 10px;
}

.List-entries{
    overflow: scroll;
    max-height: 600px;
}

.List-entry{
margin: 5px;
margin-top: 15px;

}



.List-entry h4 {
margin-bottom: 5px;
}

.List-entry-active{
    background: #d9d9db;
    position: sticky;
    bottom: 0;
    outline: 2px solid black;
}

